{
    "Bittrex": {
        "ADC": "0",
        "AMP": "0",
        "ARDR": "0",
        "BCC": "0",
        "BCY": "0",
        "BITB": "0",
        "BLK": "0",
        "BSTY": "0",
        "BTA": "0",
        "BTC": "0.25",
        "BTCD": "0",
        "BURST": "0",
        "CLAM": "0",
        "CVC": "0",
        "DASH": "0",
        "DCR": "0",
        "DGB": "0",
        "DGC": "0",
        "DOGE": "0",
        "EFL": "0",
        "EMC2": "0",
        "ETC": "0",
        "ETH": "0",
        "EXP": "0",
        "FCT": "0",
        "FLDC": "0",
        "FLO": "0",
        "GAME": "0",
        "GNO": "0",
        "GNT": "0",
        "GRC": "0",
        "LBC": "0",
        "LSK": "0",
        "LTC": "0",
        "MAID": "0",
        "MLN": "0",
        "MONA": "14.3057935409",
        "NAUT": "0",
        "NAV": "0",
        "NEOS": "66.5395161753",
        "NLG": "0",
        "NXC": "0",
        "NXT": "0",
        "OK": "0",
        "OMG": "0",
        "OMNI": "0",
        "PINK": "0",
        "POT": "0",
        "PPC": "0",
        "RADS": "0",
        "RDD": "0",
        "REP": "0",
        "SBD": "0",
        "SC": "0",
        "SLG": "0",
        "SLR": "0",
        "START": "0",
        "STEEM": "0",
        "STORJ": "0",
        "STRAT": "0",
        "SYS": "0",
        "UNO": "0",
        "USDT": "0",
        "VIA": "0",
        "VRC": "0",
        "VTC": "0",
        "XCP": "0",
        "XEM": "0",
        "XLM": "0",
        "XMR": "0",
        "XRP": "0",
        "ZEC": "0"
    },
    "Bleutrade": {
        "ADC": "0",
        "BCC": "0",
        "BITB": "0",
        "BLK": "0",
        "BSTY": "0",
        "BTA": "0",
        "BTC": "0.25",
        "BTCD": "0",
        "CLAM": "0",
        "DASH": "0",
        "DCR": "0",
        "DGC": "0",
        "DOGE": "0",
        "EFL": "0",
        "ETH": "0",
        "EXP": "0",
        "LTC": "0",
        "MONA": "0",
        "NEOS": "0",
        "NLG": "0",
        "NMC": "0",
        "OK": "0",
        "POT": "0",
        "PPC": "0",
        "RDD": "0",
        "SLG": "0",
        "SLR": "0",
        "START": "0",
        "UNO": "0",
        "VRC": "0.0003890749",
        "VTC": "0",
        "XPM": "0"
    },
    "Poloniex": {
        "AMP": "0",
        "ARDR": "0",
        "BCY": "0",
        "BLK": "0",
        "BTC": "0.25",
        "BTCD": "0",
        "BURST": "0",
        "CLAM": "0",
        "CVC": "0",
        "DASH": "0",
        "DCR": "0",
        "DGB": "0",
        "DOGE": "0",
        "EMC2": "0",
        "ETC": "0",
        "ETH": "0",
        "EXP": "0",
        "FCT": "0",
        "FLDC": "0",
        "FLO": "0",
        "GAME": "0",
        "GNO": "0",
        "GNT": "0",
        "GRC": "0",
        "LBC": "0",
        "LSK": "0",
        "LTC": "0",
        "MAID": "0",
        "NAUT": "0",
        "NAV": "0",
        "NEOS": "0",
        "NMC": "0",
        "NXC": "0",
        "NXT": "0",
        "OMG": "0",
        "OMNI": "0",
        "PINK": "0",
        "POT": "0",
        "PPC": "0",
        "RADS": "0",
        "REP": "0",
        "SBD": "0",
        "SC": "0",
        "STEEM": "0",
        "STORJ": "0",
        "STRAT": "0",
        "SYS": "0",
        "USDT": "0",
        "VIA": "0",
        "VRC": "0",
        "VTC": "0",
        "XCP": "0.1012562150",
        "XEM": "0",
        "XMR": "0",
        "XPM": "0",
        "XRP": "0",
        "ZEC": "0"
    },
    "Kraken": {
        "BCC": "0",
        "BTC": "0.25",
        "DASH": "0",
        "DOGE": "0",
        "ETC": "0",
        "ETH": "0",
        "GNO": "0",
        "LTC": "0",
        "MLN": "4.9875000000",
        "REP": "0",
        "XLM": "5838.4293450000",
        "XMR": "0",
        "XRP": "0",
        "ZEC": "0"
    }
}